body{
    background: rgb(47, 121, 53);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
    font-style: italic;
    font-family: 'draw', sans-serif; 
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 605px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
    font-family: 'draw', sans-serif; 
}
@font-face {
  font-family: 'draw';
  src: url(draw.otf);
}
#JV {
  width: 600px; 
  height: 450px; 
  border: 5px outset; 
  border-radius: 5px; 
  position: relative; 
  margin-left: auto; 
  margin-right: auto;}
#tipo {
      position: absolute; 
      left: 380px; 
      top: 5px; 
      font-family: 'draw', sans-serif; 
      font-size: 50pt; 
      color: rgb(26, 126, 42);
      
}

  #dvFrase {
      position: absolute; 
      top: 300px; 
      left: 10px;}
  .frase {
   
      width: 45px;
      font-size: 50pt; 
      font-family: 'draw', sans-serif; 
      letter-spacing: 10px; 
      float: left; 
      text-align: center;}
  .erros { 
    font-family: 'draw', sans-serif; 
    font-size: 28px;
    display: inline-block;}
  #erros {
    position: absolute;
    }
  #errosCont {
    color: #359422;}
  #dvErro {
    position: absolute; 
    top: 150px; 
    left: 390px;}
  #dvErro input {
    width: 50px; 
    border-radius: 10px; 
    outline: none; 
    padding: 5px;}
  button {margin-top: 10px; 
    border-radius: 5px; 
    padding: 15px; 
    transition: .3s; 
    box-shadow: 2px 2px 3px rgba(0,0,0,.6);
    font-weight: bolder; text-align: center;}
  button:hover {
    background: #306e45; 
    transform: scale(1.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,.6); 
    color: white;
}
